registry=https://registry.npmjs.org/
strict-ssl=false
legacy-peer-deps=true
package-lock=false
network-timeout=100000
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
engine-strict=false
auto-install-peers=true 